@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


@font-face {
    font-family: 'Dun Rise';
    src: url(fontes/Dune_Rise.otf) format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root {
    /*Cores*/
    --branco: #ffffff;
    --laranja: #D9AD29;
    --azul-claro: #0F808C;
    --azul-escuro: #131B26;
    --roxo: #733C64;
    --verde: #008000;
    --cinza: #484848;
    --cinza-claro: #D9D9D9;

    /*Fontes*/
    --fonte-destaque: 'Dun Rise', sans-serif;
    --fonte-padrao: 'Montserrat', sans-serif;
}

@media (min-width: 320px){

    .p-unico{
        display: none;
    }

    .container-main-1025{
        display: none;
    }

    .sobre-nos{
        display: none;
    }

    strong{
        color: var(--laranja);
        font-weight: normal;
    }

    a{
        color: var(--roxo);
        text-decoration: none;
        font-weight: bold;
    }

    main a:hover{
        text-decoration: underline;
    }

    .thinkbox{
        font-family: var(--fonte-destaque);
        font-size: 0.75em;
    }

    h1{
        color: var(--roxo);
        font-family: var(--fonte-padrao);
        font-size: 1.2em;
        text-align: center;
        margin: 0px 20px 70px 20px;
    }

    .container-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-main > img{
        order: 1;
        margin-bottom: 0px;
    }

    .container-main p{
        color: white;
        font-family: var(--fonte-padrao);
        text-align: justify;
        margin: 0px 20px 50px 20px;
        line-height: 30px;
    }

    #p-unico{
        color: white;
        font-family: var(--fonte-padrao);
        text-align: justify;
        margin: 0px 20px 25px 20px;
        line-height: 30px;
    }

    .divisor{
        width: 85%;
        background-color: var(--roxo);
        height: 1px;
        margin: 50px auto;
    }

    .que-foi-feito p{
        color: white;
        font-family: var(--fonte-padrao);
        text-align: justify;
        margin: 0px 20px 25px 20px;
        line-height: 30px;
    }

    .img-link{
        width: 230px;
        height: 330px;
        background-color: #D9D9D9;
        border: 3px solid var(--azul-claro);
        border-radius: 10px;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
        color: rgba(0, 0, 0, 0.454);
        font-family: var(--fonte-padrao);
        padding: 15px;
    }

    .metodologia{
        margin-bottom: 70px;
    }

    .metodologia p{
        color: white;
        font-family: var(--fonte-padrao);
        text-align: justify;
        margin: 0px 20px 25px 20px;
        line-height: 30px;
    }
    
    .slider{
        margin: 0 auto 70px auto;
        width: 100%;
        height: 417px;
        overflow: hidden;
        background-color: var(--azul-claro);
        padding: 30px 0;
    }

    .slider h1{
        color: var(--laranja);
        font-family: var(--fonte-destaque);
        font-size: 1em;
        border: none;
        font-weight: normal;
    }

    .slides{
        width: 400%;
        height: 286px;
        display: flex;
    }

    .slides input{
        display: none;
    }

    .slide{
        width: 25%;
        position: relative;
        transition: 2s;
    }

    .slide .img-integrante{
        width: 60%;
        display: block;
        margin: auto;
    }

    .redes-sociais{
        margin: auto;
        display: flex;
        justify-content: center;
        column-gap: 30px;
        margin-top: 25px;
    }

    .manual-navigation{
        position: absolute;
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .manual-btn{
        border: 2px solid #ffffff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:not(:last-child){
        margin-right: 40px;
    }

    .manual-btn:hover{
        background-color: #FFF;
    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }

    #radio2:checked ~ .first{
        margin-left: -25%;
    }

    #radio3:checked ~ .first{
        margin-left: -50%;
    }

    .navigation-auto div{
        border: 2px solid #20a6ff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .navigation-auto{
        position: absolute;
        width: 100%;
        margin-top: 336px;
        display: flex;
        justify-content: center;
    }

    .navigation-auto div:not(:last-child){
        margin-right: 40px;
    }

    #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: #FFF;
    }

    #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: #FFF;
    }

    #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: #FFF;
    }

    .desafios{
        width: 260px;
        margin: auto;
        background-color: #1E3040;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 50px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.37);
    }

    .desafios h2{
        color: var(--laranja);
        font-family: var(--fonte-padrao);
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 20px;
    }

    .desafios p{
        color: white;
        font-family: var(--fonte-padrao);
        font-size: 1em;
        text-align: justify;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .dificuldades{
        width: 260px;
        margin: auto;
        background-color: var(--laranja);
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 100px;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.37);
    }

    .dificuldades h2{
        color: var(--roxo);
        font-family: var(--fonte-padrao);
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 20px;
    }

    .dificuldades p{
        font-family: var(--fonte-padrao);
        font-size: 1em;
        text-align: justify;
        line-height: 30px;
        margin-bottom: 10px;
    }

    footer p{
        color: var(--azul-claro);
        font-family: var(--fonte-destaque);
        font-size: 1em;
        text-align: center;
        padding-bottom: 25px;
    }
}

@media (min-width: 480px){
    .logo-thinkbox-mobile{
        margin-bottom: 70px;
    }

    h1{
        font-size: 1.8em;
        border-bottom: 2px dotted white;
        margin: 0px 60px 70px 60px;
    }

    .container-main{
        row-gap: 70px;
    }

    .container-main p{
        margin: 0px 60px 50px 60px;
        line-height: 35px;
    }
    
    #p-unico{
        margin: 0px 60px 50px 60px;
        line-height: 35px;
    }

    .slider{
        height: 485px;
        padding: 30px 0;
    }

    .slider h1{
        font-size: 1.5em;
    }

    .slide .img-integrante{
        width: 50%;
    }

    .desafios{
        width: 350px;
        padding: 30px;
        margin-bottom: 70px;
    }

    .desafios h2{
        font-size: 1.65em;
        margin-bottom: 30px;
    }

    .desafios p{
        line-height: 35px;
        margin-bottom: 15px;
    }

    .dificuldades{
        width: 350px;
        padding: 30px;
        margin-bottom: 120px;
    }

    .dificuldades h2{
        font-size: 1.65em;
        margin-bottom: 30px;
    }

    .dificuldades p{
        line-height: 35px;
        margin-bottom: 15px;
    }

    footer p{
        padding-bottom: 30px;
    }
}

@media (min-width: 540px){
    .slide .img-integrante{
        width: 45%;
    }
}

@media (min-width: 600px){
    .logo-thinkbox-mobile{
        margin-bottom: 90px;
    }

    h1{
        margin: 0px 85px 70px 85px;
    }

    .container-main p{
        margin: 0px 85px 60px 85px;
        line-height: 40px;
    }

    #p-unico{
        margin: 0px 85px 60px 85px;
        line-height: 40px;
    }

    .slide .img-integrante{
        width: 40%;
    }

    .desafios{
        width: 400px;
        padding: 40px;
        margin-bottom: 90px;
    }

    .desafios h2{
        margin-bottom: 40px;
    }

    .desafios p{
        line-height: 40px;
        margin-bottom: 20px;
    }

    .dificuldades{
        width: 400px;
        padding: 40px;
        margin-bottom: 140px;
    }

    .dificuldades h2{
        margin-bottom: 40px;
    }

    .dificuldades p{
        line-height: 40px;
        margin-bottom: 20px;
    }

    footer p{
        padding-bottom: 35px;
    }
}

@media (min-width: 700px){
    .slide .img-integrante{
        width: 35%;
    }
}

@media (min-width: 801px){

    main{
        margin-bottom: 110px;
    }

    h1{
        border: none;
        margin-bottom: 70px;
    }

    .container-main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0 50px;
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .container-main img{
        order: 0;
        margin: 0;
    }

    .container-main p{
        margin: 0;
    }

    #p-unico{
        color: white;
        font-family: var(--fonte-padrao);
        text-align: justify;
        margin: 45px 35px 0px 35px;
        line-height: 30px;
    }

    .slider{
        margin-bottom: 110px;
        padding: 50px 0;
    }

    .slide .img-integrante{
        width: 30%;
    }

    .desafios-dificuldades-cards{
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .desafios{
        width: 260px;
        margin: 0;
        padding: 20px;
        margin-bottom: 100px;
        position: relative;
        z-index: 1;

    }

    .desafios h2{
        color: var(--laranja);
        font-family: var(--fonte-padrao);
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 20px;
    }

    .desafios p{
        color: white;
        font-family: var(--fonte-padrao);
        font-size: 1em;
        text-align: justify;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .dificuldades{
        width: 260px;
        margin: 0;
        padding: 20px;
        margin-bottom: 100px;
        position: relative;
        margin-top: 240px;
        margin-left: -16px;
        z-index: 0;
    }

    .dificuldades h2{
        color: var(--roxo);
        font-family: var(--fonte-padrao);
        font-size: 1.1em;
        text-align: center;
        margin-bottom: 20px;
    }

    .dificuldades p{
        font-family: var(--fonte-padrao);
        font-size: 1em;
        text-align: justify;
        line-height: 30px;
        margin-bottom: 10px;
    }
}

@media (min-width: 950px){
    .slide .img-integrante{
        width: 25%;
    }

    .container-main p{
        line-height: 45px;
    }
}

@media (min-width: 1025px){

    .container-main{
        display: none;
    }

    .container-main p{
        display: none;
    }

    #p-unico{
        display: none;
    }

    .container-main-1025{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 45px;
        padding: 0 80px;
    }

    .container-main-1025 p{
        color: white;
        font-family: var(--fonte-padrao);
        text-align: justify;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .container-main-1025 > img{
        margin-bottom: 25px;
    }

    .p-unico{
        display: block;
        color: white;
        font-family: var(--fonte-padrao);
        text-align: justify;
        line-height: 40px;
        margin-bottom: 15px;
        padding: 0 80px;
    }

    .slider{
        display: none;
    }
    
    .sobre-nos{
        display: block;
        background-color: var(--azul-claro);
        padding: 100px 20px;
        margin-bottom: 110px;
    }

    .sobre-nos h1{
        color: var(--laranja);
        font-family: var(--fonte-destaque);
        font-weight: normal;
    }

    .container-equipe{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cards{
        margin: 0 20px;
    }

    .cards > img{
        display: block;
        margin: auto;
    }

    .cards p{
        color: white;
        font-family: var(--fonte-padrao);
        text-align: justify;
        line-height: 35px;
        margin-bottom: 15px;
    }

    .cards #nome-integrante{
        text-align: center;
        font-weight: bold;
    }

    .container-redes{
        display: flex;
        justify-content: space-evenly;
    }

    .desafios{
        width: 330px;
        padding: 30px;
    }

    .desafios h2{
        font-size: 1.3em;
        margin-bottom: 30px;
    }

    .desafios p{
        font-size: 1.1em;
        line-height: 35px;
        margin-bottom: 15px;
    }

    .dificuldades{
        width: 330px;
        padding: 30px;
        margin-bottom: 150px;
    }

    .dificuldades h2{
        font-size: 1.3em;
        margin-bottom: 30px;
    }

    .dificuldades p{
        font-size: 1.1em;
        line-height: 35px;
        margin-bottom: 15px;
    }

    footer p{
        padding-bottom: 25px;
    }

}

@media (min-width: 1251px){
    
}